* {
	margin: 5%;
	border: 2px solid blue;
}

body {
	background: Red;
}

form {
	margin: 5%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	text-align: center;
	border: 1px solid white
}
